<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="css/movies.css">
    <title>Document</title>
    
</head>
<body>
    <h3>Movies</h3>
     
 <!--   {{#each movies}}
    <div class="image-container"> 
    <img src="{{this.ImageUrl}}" class="img-thumbnail image" alt="Not FOund">
    <h6>{{this.Name}}</h6>
     </div>
    {{/each}}-->
   
<div class="container">
        <div class="row">
            {{#each movies}}
            <div class="col-md-4">
                <div class="image-container"> 
                      <a href="{{this.PageUrl}}?movieName={{this.Name}}"></a>
                    <a href="{{this.PageUrl}}">
                    <img src="{{this.ImageUrl}}" class="img-thumbnail" alt="Not Found">
                    </a>
                </div>
                <h5><strong>{{this.Name}}</strong></h6>
                <h6>Rating: {{this.Rating}}</h6>
                <h6>{{this.MovieType}}</h6>
            </div>
            {{/each}}
        </div>
    </div>



</body>
</html>